<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1537.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.DataGridExport.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="21.1.35" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.WinForms" version="21.1.35" targetFramework="net48" />
</packages>